*{
    padding: 0;
    margin: 0;
}

html,body{
  height: 100%;
  width: 100%;
  background-color: #141414;
  overflow-x: hidden;
}



.gradient-text {
    background-image: linear-gradient(to right,gray,white); 
    -webkit-background-clip: text; 
    color: transparent; 
  }
.img-shadow{
    filter: drop-shadow(2px 2px 20px #ffffff86);
}